.button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  @include opensansbold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: $text-primary;
  background-color: $bg-white;
  border: 2px solid $text-primary;
  outline: none;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $text-primary;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $text-primary;
  }

  &--modal {
    color: $bg-white;
    background-color: $bg-aqua;
    border-color: $bg-aqua;

    &:hover {
      color: rgba(99, 209, 187, 1);
      background-color: $bg-white;
    }

    &:active {
      color: rgba(99, 209, 187, 0.3);
      background-color: $bg-white;
    }
  }
}
