.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #f9f9f9 175px, $bg-white 175px);
}

.catalog__title {
  @include opensansbold(27px, 30px);
  margin-top: 0;
  margin-bottom: 105px;
  color: $text-title;
}

.catalog__list {
  @include listreset;
  @include container;
}

.catalog__item {
  margin-bottom: 35px;
  outline: 1px solid $bc-gray;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__link {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog__image {
  width: 260px;
  height: 195px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__item-title {
  @include opensansbold(17px, 24px);
  margin-top: 0;
  margin-bottom: 6px;
  color: $text-title;
}

.catalog__content {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
}

.catalog__purchase {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;

  &::before {
    content: "";
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid $bc-gray;
  }
}

.catalog__price {
  @include opensansbold(15px, 24px);
  margin-right: auto;
  color: $text-title;
}

.catalog__link-cart {
  fill: $text-title;
  opacity: 0.2;
}

.catalog__icon-cart {
  width: 20px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .catalog {
    position: relative;
    padding-top: 55px;
    padding-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      top: 170px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .catalog__title {
    margin-bottom: 160px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__list {
    @include container(668px, 50px);
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__link {
    width: 334px;
    height: 334px;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__wrapper {
    width: 284px;
  }

  .catalog__item-title {
    font-size: 20px;
  }

  .catalog__content {
    font-size: 15px;
  }

  .catalog__purchase {
    margin-top: auto;

    &::before {
      margin-bottom: 24px;
    }
  }

  .catalog__price {
    margin-left: 9px;
    font-size: 17px;
  }

  .catalog__link-cart {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    background-image: linear-gradient(to bottom, #f9f9f9 210px, $bg-white 210px);

    &::before {
      top: 200px;
      height: 34px;
      background-image: url("../img/zigzag-catalog-desktop.png");
    }
  }

  .catalog__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 230px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    width: 1050px;
  }

  .catalog__item {
    width: 315px;
    margin-bottom: 0;
  }

  .catalog__link {
    width: 316px;
    height: 462px;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__wrapper {
    min-height: 147px;
  }

  .catalog__content {
    margin-bottom: 13px;
  }

  .catalog__purchase {
    &::before {
      margin-bottom: 23px;
    }
  }

  .catalog__price {
    margin-left: 0;
  }
}
