.contacts {
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  line-height: 30px;
}

.contacts__title {
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  @include opensansbold(18px, 30px);
  color: $text-title;
}

.contacts__info {
  margin-right: 30px;
  margin-left: 30px;
  border-spacing: 0 40px;
}

.contacts__email {
  width: 70px;
}

.contacts__email-content {
  border-bottom: 1px solid $bg-aqua;
}

.contacts__address {
  vertical-align: top;
}

.contacts__link {
  display: block;
  margin-bottom: 40px;
}
