.copyright {
  @include opensansbold(19px, 18px);
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  color: $text-title;
}

.copyright__content {
  margin-right: 30px;
}
