.copyright {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  @include opensansbold(19px, 18px);
  color: $text-title;

  outline: 1px solid blue;
}

.copyright__content {
  margin-right: 30px;
}
