.form {
  padding-bottom: 55px;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__container {
  @include container;
}

.form__legend {
  @include opensansbold(17px, 16px);
  margin-bottom: 30px;
  text-transform: uppercase;
  color: $bg-aqua;
}

.form__input-container {
  display: flex;
  flex-direction: column;
}

.form__label {
  @include opensansbold(17px, 18px);
  color: $text-title;

  &--type {
    margin-bottom: 25px;
    padding-left: 65px;
  }

  &--color {
    margin-bottom: 40px;
    padding-left: 65px;
  }

  &--fullname {
    margin-bottom: 20px;
  }

  &--tel {
    margin-bottom: 30px;
  }
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 19px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  border: none;
  border-bottom: 2px solid $text-title;
  outline: none;

  &:hover {
    border-color: $bg-aqua;
  }

  &:focus {
    color: $text-primary;
    border-color: $bg-aqua;
  }

  &--text {
    width: 100%;
    margin-top: 15px;
  }

  &--tel,
  &--email {
    width: 100%;
    padding-right: 40px;
  }

  &--textarea {
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    border: 1px solid $text-primary;
  }

  &--textarea:hover {
    border: 1px solid $bg-aqua;
  }

  &--textarea:focus {
    border: 1px solid $bg-aqua;
  }
}

.form__content {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $text-primary;
}

.form__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  .form__group {
    padding-top: 60px;
    padding-bottom: 40px;

    &--tel {
      padding-bottom: 15px;
    }

    &--email {
      padding-top: 15px;
    }

    &--color,
    &--tel,
    &--email {
      background-color: #f1f1f1;
    }
  }

  .form__container {
    @include container(668px, 50px);
    display: flex;
  }

  .form__legend {
    width: 167px;
  }

  .form__input-container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    width: 501px;

    &--type {
      width: 334px;
      margin-right: 167px;
    }
  }

  .form__label {
    margin: 0;
    padding: 0;
    font-size: 19px;

    &--type {
      margin-bottom: 55px;
      padding-left: 80px;
    }

    &--color {
      width: 170px;
      margin-bottom: 50px;
      padding-left: 80px;
    }

    &--fullname {
      margin-right: auto;
    }
  }

  .form__input {
    font-size: 19px;

    &--text:nth-of-type(1) {
      width: 430px;
    }

    &--text:nth-of-type(2) {
      width: 370px;
    }

    &--text:nth-of-type(3) {
      width: 370px;
    }

    &--tel,
    &--email {
      width: 501px;
      padding-right: 60px;
      background-color: #f1f1f1;
    }

    &--textarea {
      width: 501px;
      min-height: 140px;
      margin-bottom: 50px;
    }
  }

  .form__content {
    order: 1;
    margin-top: -40px;
    margin-left: auto;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    width: 1050px;
  }

  .form__legend {
    width: 175px;
  }

  .form__input-container {
    &--type {
      width: 350px;
    }

    &--color {
      width: 875px;
    }

    &--fullname {
      width: 700px;
    }
  }

  .form__label {
    width: 180px;
  }

  .form__input {
    &--text:nth-of-type(1) {
      width: 630px;
    }

    &--text:nth-of-type(2) {
      width: 575px;
    }

    &--text:nth-of-type(3) {
      width: 575px;
    }

    &--tel,
    &--email,
    &--textarea {
      width: 700px;
    }
  }

  .form__content {
    margin-right: 225px;
  }

  .form__button {
    margin-left: 225px;
  }
}
