.logo-footer {
  cursor: pointer;
  fill: $text-title;
}

.logo-footer:hover {
  fill: $bg-turquoise;
}

.logo-footer:active {
  opacity: 0.3;
}

.logo-footer__image {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .logo-footer {
    width: 102px;
    height: 34px;
  }
}
