.logo {
  width: 86px;
  height: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $bc-gray;
}

.logo__link {
  display: block;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
