.logo {
  width: 86px;
  height: 35px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 113px;
    height: 46px;
  }

  .logo__image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
  }

  .logo__image {
    width: 149px;
    height: 72px;
  }
}
