.main-menu {
  @include listreset;
}

.main-menu__item {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 30px;
  box-shadow: inset 0 1px 0 $bc-gray;
}

.main-menu__link {
  @include main-nav-link-decoration;
  width: 260px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-menu__item {
    justify-content: flex-start;
    width: 167px;
    padding-top: 15px;
    padding-bottom: 0;
    box-shadow: none;
  }

  .main-menu__link {
    width: auto;
    padding: 0;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__item {
    width: 160px;
    padding-top: 29px;

    &--catalog {
      padding-right: 25px;
      box-shadow: inset -1px 0 0 $bc-gray;
    }

    &--order {
      padding-left: 35px;
    }
  }

  .main-menu__link {
    font-size: 17px;
  }
}
