.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -1px 0 $bc-gray;
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 30px;
  height: 30px;
  background-color: $bg-white;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__logo {
  align-self: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.main-nav__main-menu,
.main-nav__user-menu {
  display: flex;
  flex-direction: column;
}

.main-nav__add-menu {
  display: none;
}

.main-nav__delivery {
  @include opensans;
  order: 5;
  display: none;
  margin: 0;
  color: $text-primary;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-menu__item,
  .main-nav--closed .user-menu__item,
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-menu__item,
  .main-nav--nojs .user-menu__item {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    @include container(668px, 50px);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    margin-bottom: 20px;
  }

  .main-nav__main-menu {
    order: 2;
    flex-direction: row;
  }

  .main-nav__user-menu {
    flex-direction: row;
  }

  .main-nav__delivery {
    display: block;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__logo {
    margin-top: 9px;
    margin-bottom: 7px;
  }

  .main-nav__main-menu {
    order: -1;
  }

  .main-nav__add-menu {
    display: flex;
  }
}
