.main-menu {
  @include listreset;
}

.main-menu__item {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 45px;
  box-shadow: inset 0 1px 0 $bc-gray;
}

.main-menu__link {
  @include main-nav-link-decoration;
}

@media (min-width: $tablet-width) {
  .main-menu {
    display: flex;
  }

  .main-menu__item {
    width: 167px;
    padding: 0;
    box-shadow: none;
  }

  .main-menu__link {
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__item {
    width: 160px;

    &--catalog {
      padding-right: 30px;
      box-shadow: inset -1px 0 0 $bc-gray;
    }

    &--order {
      padding-left: 30px;
    }
  }

  .main-menu__link {
    font-size: 17px;
  }
}
