.modal {
  @include container;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: $bg-white;
  border-top: 2px solid $bc-gray;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);

  &--show {
    display: flex;
  }
}

.modal__title {
  @include opensansbold(25px, 30px);
  width: 145px;
  margin: 0;
  margin-bottom: 20px;
  color: $text-title;
}

.modal__content {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  color: $text-primary;
}

.modal__label {
  @include opensansbold(17px, 16px);
  display: inline-block;
  width: 80px;
  margin-bottom: 30px;
  padding-top: 17px;
  padding-bottom: 17px;
  vertical-align: middle;
  text-align: center;
  color: $text-primary;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;
}

.modal__input {
  &:hover + .modal__label {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:checked + .modal__label {
    border-color: $bg-aqua;
  }
}

.modal__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .modal {
    @include container(556px, 110px);
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .modal__title {
    width: auto;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__content {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .modal__form {
    width: 350px;
  }

  .modal__label {
    width: 110px;
  }
}
