.order {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #f1f1f1 175px, $bg-white 175px);
}

.order__title {
  @include opensansbold(27px, 30px);
  margin-top: 0;
  margin-bottom: 97px;
  text-align: center;
  color: $text-title;
}

.order__content {
  width: 245px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 30px;
  font-size: 13px;
}

@media (min-width: $tablet-width) {
  .order {
    position: relative;
    padding-top: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 165px;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom 50px;
      background-size: 770px 24px;
    }
  }

  .order__title {
    margin-bottom: 160px;
    font-size: 43px;
    line-height: 50px;
  }

  .order__content {
    width: 628px;
    margin-bottom: 50px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    background-image: linear-gradient(to bottom, #f1f1f1 210px, $bg-white 210px);

    &::after {
      top: 195px;
      height: 34px;
      background-size: 1250px 34px;
    }
  }

  .order__title {
    margin-bottom: 227px;
    font-size: 53px;
    line-height: 57px;
  }

  .order__content {
    width: 700px;
    padding-right: 225px;
    padding-left: 225px;
  }
}
