.order {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // margin-right: auto;
  // margin-left: auto;
  background-image: linear-gradient(to bottom, $bg-gray 175px, $bg-white 175px);
}

.order__title {
  @include opensansbold(27px, 30px);
  margin-bottom: 100px;
  padding-top: 75px;
  text-align: center;
  color: $text-title;
}

.order__content {
  width: 245px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 30px;
  font-size: 13px;
}

.order__form {
  // margin-right: auto;
  // margin-left: auto;
}

@media (min-width: $tablet-width) {
  .order__title {
    margin-bottom: 160px;
    padding-top: 30px;
    font-size: 43px;
    line-height: 50px;
  }

  .order__content {
    width: 628px;
    margin-bottom: 50px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__title {
    margin-bottom: 220px;
    font-size: 53px;
    line-height: 57px;
  }

  .order__content {
    width: 700px;
    pading-right: 225px;
    pading-left: 225px;
  }
}
