.order {
  width: 320px;
  margin: 0 auto;
  background-color: $bg-white;
}

.order__title {
  margin: 0;
  padding-top: 75px;
  padding-right: 30px;
  padding-bottom: 75px;
  padding-left: 30px;
  @include opensansbold(27px, 30px);
  color: $text-title;
  background-color: $bg-gray;
}

.order__content {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 13px;
}
