.process-of-production {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
}

.process-of-production__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000;
}

.process-of-production__description {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
}
