.process-of-production {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $bg-white;
  border: 1px solid #ececec;
}

.process-of-production__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 90px;
  @include opensansbold(17px, 24px);
  color: $text-title;
}

.process-of-production__description {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 40px;
  padding-left: 30px;
  font-size: 13px;
}
