.product-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.product-type__content {
  @include opensansbold(27px, 30x);
  width: 260px;
  margin-bottom: 120px;
  text-align: center;
  color: $text-title;
}

.product-type__list {
  @include listreset;
  width: 320px;
}

.product-type__item {
  background-color: $bg-aqua;

  &:last-child {
    background-color: #56c3b2;
  }
}

.product-type__link {
  @include opensansbold(19px, 24px);
  display: block;
  width: 130px;
  padding-top: 27px;
  padding-right: 145px;
  padding-bottom: 27px;
  text-decoration: none;
  color: $bg-white;

  &:hover {
    // padding-bottom: 32px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .product-type {
    width: auto;
  }

  .product-type__content {
    width: 510px;
    font-size: 43px;
    line-height: 50px;
  }

  .product-type__list {
    @include container(668px, 50px);
    display: flex;
  }

  .product-type__item {
    width: 50%;
  }

  .product-type__link {
    width: 120px;
    padding-right: 12px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-type__content {
    width: 700px;
  }

  .product-type__list {
    width: 1050px;
  }

  .product-type__link {
    padding-right: 20px;
  }
}
