.promotion {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: $bg-white;
}

.promotion__container {
  position: relative;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  outline: 1px solid red;
}

.promotion__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 5px;

  @include opensansbold(25px, 30px);
  color: $text-title;

  outline: 1px solid blue;
}

.promotion__event {
  margin: 0;
  margin-bottom: 25px;

  @include opensansbold;
  color: $bg-aqua;
}

.promotion__content {
  margin: 0;
  margin-bottom: 25px;

  outline: 1px solid blue;
}

.promotion__characteristics-of-goods {
  margin-bottom: 360px;
  border-collapse: collapse;
  line-height: 20px;

  outline: 1px solid blue;
}

.promotion__characteristic {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $bc-gray;
}

.promotion__value {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $bc-gray;
}

.promotion__price {
  margin: 0;
  margin-bottom: 30px;

  @include opensansbold;
  text-align: center;

  outline: 1px solid blue;
}

.promotion__image {
  position: absolute;
  width: 260px;
  height: 315px;
  top: 335px;

  outline: 1px solid blue;
}

@media (min-width: $tablet-width) {
  .promotion__container {
    width: 668px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .promotion__column {
    width: 291px;
  }

  .promotion__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .promotion__event {
    position: absolute;
    top: 20px;
    right: 50px;
  }

  .promotion__content {
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 30px;
  }

  .promotion__characteristics-of-goods {
    margin-bottom: 55px;
  }

  .promotion__price {
    transform: none;
  }

  .promotion__button {
    transform: none;
  }

  .promotion__image {
    width: 333px;
    height: 404px;
    top: 95px;
    right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    padding-top: 70px;
  }

  .promotion__container {
    width: 1050px;
  }

  .promotion__column {
    margin-left: 175px;
  }

  .promotion__title {
    margin-left: 175px;
    padding-top: 50px;
    font-size: 53px;
    line-height: 57px;
  }

  .promotion__event {
    top: 70px;
    left: 50px;
  }

  .promotion__content {
    margin-bottom: 60px;
  }

  .promotion__characteristics-of-goods {
    margin-bottom: 110px;
  }

  .promotion__image {
    top: -7px;
    width: 525px;
    height: 636px;
  }
}
