.promotion {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: $bg-white;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.png");
  }
}

.promotion__container {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
}

.promotion__title {
  @include opensansbold(25px, 30px);
  margin: 0;
  margin-bottom: 45px;
  color: $text-title;

  &::after {
    content: "Товар недели";
    position: absolute;
    top: 35px;
    right: 155px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $bg-aqua;
  }
}

.promotion__content {
  margin: 0;
  margin-bottom: 17px;
}

.promotion__characteristics-of-goods {
  margin-bottom: 27px;
  line-height: 20px;
}

.promotion__table-row {
  box-shadow: 0 2px 1px -1px $bc-gray;
}

.promotion__characteristic {
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
}

.promotion__value {
  padding-top: 9px;
  padding-bottom: 9px;
}

.promotion__image {
  width: 260px;
  height: 315px;
  margin-bottom: 28px;
}

.promotion__price {
  @include opensansbold;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promotion {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 70px;

    &::after {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.png");
    }
  }

  .promotion__container {
    @include container(668px, 50px);
    padding-right: 53px;
    padding-left: 47px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .promotion__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      top: 11px;
      right: 72px;
      width: 80px;
      line-height: 17px;
      text-align: center;
    }
  }

  .promotion__content,
  .promotion__characteristics-of-goods,
  .promotion__price,
  .promotion__button {
    width: 292px;
    margin-right: 43px;
  }

  .promotion__content {
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 30px;
  }

  .promotion__image {
    width: 333px;
    height: 404px;
    margin-top: -117px;
    margin-bottom: 0;
  }

  .promotion__characteristics-of-goods {
    margin-bottom: 0;
  }

  .promotion__characteristic {
    padding-right: 0;
  }

  .promotion__price {
    margin-top: -107px;
    font-size: 20px;
  }

  .promotion__button {
    margin-top: -50px;
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    padding-top: 108px;
    padding-bottom: 70px;

    &::after {
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.png");
    }
  }

  .promotion__container {
    width: 1050px;
  }

  .promotion__title {
    z-index: 1;
    margin-bottom: 47px;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: 13px;
      right: auto;
      left: 91px;
    }
  }

  .promotion__content,
  .promotion__characteristics-of-goods,
  .promotion__price,
  .promotion__button {
    width: 292px;
    margin-right: 59px;
    margin-left: 175px;
  }

  .promotion__content {
    margin-bottom: 45px;
  }

  .promotion__characteristics-of-goods {
    margin-bottom: 220px;
  }

  .promotion__image {
    width: 525px;
    height: 636px;
    margin-top: -293px;
    margin-left: -1px;
  }
}
