.reviews {
  padding-top: 30px;
  padding-bottom: 45px;
}

.reviews__container {
  @include container;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  @include opensansbold(25px, 30px);
  margin-bottom: 30px;
  color: $text-title;
}

.reviews__item {
  margin: 0;
  margin-bottom: 35px;
}

.reviews__content {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  @include opensansbold(17px, 24px);
  color: $text-title;
}

@media (min-width: $tablet-width) {
  .reviews {
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-positon: left;
  }

  .reviews__container {
    @include container(668px, 50px);
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__content {
    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__slider {
    position: absolute;
    bottom: 0;
    right: 50px;
  }

  .reviews__button {
    order: 1;
    width: 175px;
    margin-left: auto;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: 1050px;
  }

  .reviews__title,
  .reviews__list {
    margin-left: 175px;
  }

  .reviews__content {
    width: 760px;
  }
}
