.reviews {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
}


.reviews__title {
  margin: 0;
  margin-bottom: 30px;
  @include opensansbold(25px, 30px);
  color: $text-title;
}

.reviews__item {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.reviews__content {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  @include opensansbold(17px, 24px);
  color: $text-title;
}
