.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
}

.reviews__container {
  @include container;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  @include opensansbold(25px, 30px);
  margin-top: 0;
  margin-bottom: 25px;
  color: $text-title;
}

.reviews__item {
  margin: 0;
  margin-bottom: 15px;
}

.reviews__content {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  @include opensansbold(17px, 24px);
  color: $text-title;
}

.reviews__author-email {
  line-height: 30px;
  text-decoration: none;
  color: $text-primary;
}

.reviews__slider {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
    position: relative;
    padding-top: 78px;
    padding-bottom: 90px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-positon: left;
    background-size: 350px 457px;

    &::after {
      width: 100%;
      height: 17px;
      background-repeat: repeat-x;
    }
  }

  .reviews__container {
    @include container(668px, 50px);
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .reviews__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .reviews__content {
    margin-bottom: 55px;
    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__slider {
    position: absolute;
    bottom: 0;
    right: 50px;
  }

  .reviews__button {
    order: 1;
    width: 175px;
    margin-left: auto;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 90px;
    background: none;

    &::after {
      width: 1050px;
      height: 23px;
    }
  }

  .reviews__container {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
    width: 1050px;
    padding-top: 70px;
    padding-bottom: 95px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 50px top 0;
    background-size: 350px 457px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__title,
  .reviews__list {
    margin-left: 175px;
  }

  .reviews__item {
    margin-bottom: 0;
  }

  .reviews__content {
    width: 770px;
    margin-bottom: 39px;
  }

  .reviews__slider {
    bottom: 57px;
    right: 48px;
  }

  .reviews__button {
    margin-top: 10px;
  }
}
