.social {
  @include listreset;
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    width: 15px;
    height: 28px;
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    width: 24px;
    height: 21px;
    background-image: url("../img/icon-twitter.svg");
  }
}
