.social {
  display: flex;
  justify-content: center;
  width: 260px;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  fill: $text-title;

  &:hover {
    fill: $bg-turquoise;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-icon {
  &--instagram {
    width: 22px;
    height: 22px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 24px;
    height: 21px;
  }
}
