.user-menu {
  @include listreset;
}

.user-menu__item {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 45px;
  box-shadow: inset 0 1px 0 $bc-gray;

  &--cart {
    box-shadow: inset 0 1px 0 $bc-gray;
  }
}

.user-menu__link {
  @include main-nav-link-decoration;
  position: relative;

  &:hover .user-menu__link-icon {
    opacity: 1;

    path {
      fill: $bg-aqua;
    }
  }

  &:active .user-menu__link-icon {
    opacity: 0.3;
  }
}

.user-menu__link-icon {
  position: absolute;
  top: 2px;
  left: -30px;
  opacity: 0.2;

  path {
    fill: $text-title;
  }

  &--search {
    width: 18px;
    height: 19px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .user-menu {
    display: flex;
  }

  .user-menu__item {
    padding-left: 0;
    padding-top: 29px;
    box-shadow: none;

    &--search {
      width: 85px;
      box-shadow:
        inset  1px 0 0 $bc-gray,
        inset -1px 0 0 $bc-gray;
    }

    &--cart {
      width: 205px;
      padding-left: 60px;
      text-align: right;
    }
  }

  .user-menu__link--search {
    font-size: 0;
  }

  .user-menu__link-icon {
    &--search {
      top: -14px;
      left: 35px;
    }

    &--cart {
      top: 3px;
      left: -53px;
    }
  }
}
