.video {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
  display: flex;
  width: 260px;
  height: 150px;
  background-color: $bg-gray;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.video__button {
  width: 101px;
  height: 77px;
  margin: auto;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

@media (min-width: $tablet-width) {
  .video {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
    width: 668px;
    min-height: 455px;
    height: auto;
    background-image: url("../img/video-tablet@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .video {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
}
