@font-face {
  font-family: "Open Sans";
  src: local("Open Sans.ttf"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold.ttf"),
  url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
  background-color: #fff;
}
